<div id="menu" class="menu">
  <!-- data-aos="fade-up" -->
  <div class="container">

    <div class="section-title">
      <h2>Menu</h2>
      <p>Click on it to see details</p>
    </div>

    <div class="row">

      <div class="col-md-3 d-flex justify-content-center mb-3">
        <div class="flip-card">
          <div class="flip-card-inner" id="card1">
            <div class="flip-card-front">
              <img src="assets/img/food-pics/IMG_9326-Edit.jpg" alt="Avatar" style="width:300px;height:300px;"
                (click)="flipCard('card1')">
            </div>
            <div class="flip-card-back pt-3" (click)="flipCard('card1')">
              <h4>Non Veg Shawarmas</h4>
              <div>Classic chicken Shawarma</div>
              <div>Piri piri chicken shawarma</div>
              <div>Butter chicken shawarma</div>
              <div>Fiery chicken shawarma</div>
              <div>Chicken tikka shawarma</div>
              <div>BBQ chicken shawarma</div>
              <div>Chili mili chicken shawarma</div>
              <div>Firangi chicken shawarma</div>
              <div>Pesto chicken shawarma</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center mb-3">
        <div class="flip-card">
          <div class="flip-card-inner" id="card2">
            <div class="flip-card-front">
              <img src="assets/img/food-pics/IMG_9332-Edit.jpg" alt="Avatar" style="width:300px;height:300px;"
                (click)="flipCard('card2')">
            </div>
            <div class="flip-card-back pt-3" (click)="flipCard('card2')">
              <h4>Veg Shawarmas</h4>
              <div>Aloo tikki shawarma</div>
              <div>Falafal shawarma</div>
              <div>Classic paneer Shawarma</div>
              <div>Paneer makhni shawarma</div>
              <div>Piri piri paneer shawarma</div>
              <div>BBQ paneer shawarma</div>
              <div>Fiery paneer shawarma</div>
              <div>Chili mili shawarma</div>
              <div>Firangi shawarma</div>
              <div>Tandoori shawarma</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center mb-3">
        <div class="flip-card">
          <div class="flip-card-inner" id="card3">
            <div class="flip-card-front">
              <img src="assets/img/food-pics/IMG_9223-Edit.jpg" alt="Avatar" style="width:300px;height:300px;"
                (click)="flipCard('card3')">
            </div>
            <div class="flip-card-back pt-3" (click)="flipCard('card3')">
              <h4>Non-Veg Salad</h4>
              <div>Classic Chicken Salad</div>
              <div>Chicken tikka Salad</div>
              <div>Piri piri chicken Salad</div>
              <div>Fiery chicken Salad</div>
              <div>BBQ chicken salad</div>
              <div>Chili mili chicken salad</div>
              <div>Firangi chicken Salad</div>
              <div>Pesto chicken salad</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center mb-3">
        <div class="flip-card">
          <div class="flip-card-inner" id="card4">
            <div class="flip-card-front">
              <img src="assets/img/food-pics/IMG_9245-Edit.jpg" alt="Avatar" style="width:300px;height:300px;"
                (click)="flipCard('card4')">
            </div>
            <div class="flip-card-back pt-3" (click)="flipCard('card4')">
              <h4>Veg Salad</h4>
              <div>Classic paneer salad</div>
              <div>Aloo tikki salad</div>
              <div>Falafal salad</div>
              <div>Piri piri paneer salad</div>
              <div>BBQ paneer salad</div>
              <div>Fiery paneer salad</div>
              <div>Chili mili salad</div>
              <div>Firangi salad</div>
              <div>Tandoori Paneer salad</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 d-flex justify-content-center mb-3">
        <div class="flip-card">
          <div class="flip-card-inner" id="card5">
            <div class="flip-card-front">
              <img src="assets/img/food-pics/IMG_9173-Edit.jpg" alt="Avatar" style="width:300px;height:300px;"
                (click)="flipCard('card5')">
            </div>
            <div class="flip-card-back pt-3" (click)="flipCard('card5')">
              <h4>Coolers</h4>
              <div>Iced tea</div>
              <div>Coolers</div>
              <div>Caramel Custard</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center mb-3">
        <div class="flip-card">
          <div class="flip-card-inner" id="card6">
            <div class="flip-card-front">
              <img src="assets/img/food-pics/IMG_9211-Edit.jpg" alt="Avatar" style="width:300px;height:300px;"
                (click)="flipCard('card6')">
            </div>
            <div class="flip-card-back pt-3" (click)="flipCard('card6')">
              <h4>Grillers</h4>
              <div>Paneer Sandwich</div>
              <div>Chicken Sandwich</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center mb-3">
        <div class="flip-card">
          <div class="flip-card-inner" id="card7">
            <div class="flip-card-front">
              <img src="assets/img/food-pics/IMG_9181-Edit.jpg" alt="Avatar" style="width:300px;height:300px;"
                (click)="flipCard('card7')">
            </div>
            <div class="flip-card-back pt-3" (click)="flipCard('card7')">
              <h4>Non Veg Shawarmazza</h4>
              <div>Chicken teriaki Pizza</div>
              <div>Chicken tikka Pizza</div> <br>
              <h4>Veg Shawarmazza</h4>
              <div>Paneer teriyaki Pizza</div>
              <div>Tandoori paneer pizza</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center mb-3">
        <div class="flip-card">
          <div class="flip-card-inner" id="card8">
            <div class="flip-card-front">
              <img src="assets/img/food-pics/IMG_9155-Edit.jpg" alt="Avatar" style="width:300px;height:300px;"
                (click)="flipCard('card8')">
            </div>
            <div class="flip-card-back pt-3" (click)="flipCard('card8')">
              <h4>Platter</h4>
              <div>Chicken hummas platter</div>
              <div>Paneer hummas platter</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>