<div id="growthStory" class="why-us section-bg">
    <!-- data-aos="fade-up" -->
    <div class="container-fluid aos-init aos-animate">

      <div class="row">
        <div class="section-title">
          <h2 class="text-yellow">Growth Story</h2>
        </div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <strong> 25+ outlets in Thane, Mumbai, Navi- Mumbai & Pune</strong>
            <!-- <br>By end of 2024, Shawarmaji presence to be spread across Mumbai, Pune, Nashik & Bangalore. <br> -->
          </div>
          <br>
          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-1"><span class="text-yellow">Year:
                    2019</span> 2 Outlets opened <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <div class="accordion-body row">

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">MARCH</h5>
                        <h6 class="timeline-title">Startup</h6>
                      </div>
                      <div class="timeline-body">
                        <p>FOOD TRUCK</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">JULY</h5>
                        <h6 class="timeline-title">OUTLET NO. 1</h6>
                      </div>
                      <div class="timeline-body">
                        <p>VASANT VIHAR, THANE</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">DECEMBER</h5>
                        <h6 class="timeline-title">OUTLET NO. 2</h6>
                      </div>
                      <div class="timeline-body">
                        <p>HARINIWAS CIRCLE, THANE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-2"><span class="text-yellow">Year:
                    2021</span> 2 Outlets opened, 4 Franchises opened <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <div class="accordion-body row">

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">APRIL</h5>
                        <h6 class="timeline-title">Kitchen</h6>
                      </div>
                      <div class="timeline-body">
                        <p>CENTRAL KITCHEN</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">FEBRUARY</h5>
                        <h6 class="timeline-title">OUTLET NO. 3</h6>

                      </div>
                      <div class="timeline-body">
                        <p>HIRANANDANI ESTATE</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">AUGUST</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 1</h6>

                      </div>
                      <div class="timeline-body">
                        <p>AIROLI</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">OCTOBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 2</h6>

                      </div>
                      <div class="timeline-body">
                        <p>MALAD</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">NOVEMBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 3</h6>

                      </div>
                      <div class="timeline-body">
                        <p>MULUND</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">NOVEMBER</h5>
                        <h6 class="timeline-title">OUTLET NO. 4</h6>

                      </div>
                      <div class="timeline-body">
                        <p>THANE STATION</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">DECEMBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 4</h6>

                      </div>
                      <div class="timeline-body">
                        <p>THAKUR VILLAGE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-3"><span class="text-yellow">Year:
                    2022</span> 5 Franchises opened <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <div class="accordion-body row">

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">JANUARY</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 5</h6>

                      </div>
                      <div class="timeline-body">
                        <p>DOMBIVALI</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">JANUARY</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 6</h6>

                      </div>
                      <div class="timeline-body">
                        <p>KHARGHAR</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">FEBRUARY</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 7</h6>

                      </div>
                      <div class="timeline-body">
                        <p>DADAR</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">APRIL</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 8</h6>

                      </div>
                      <div class="timeline-body">
                        <p>NERUL</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">SEPTEMBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 9</h6>

                      </div>
                      <div class="timeline-body">
                        <p>POWAI</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-4"><span class="text-yellow">Year:
                    2023</span> 11 Franchises opened <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">FEBRUARY</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 10</h6>

                        </div>
                        <div class="timeline-body">
                          <p>MAROL</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">MARCH</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 11</h6>

                        </div>
                        <div class="timeline-body">
                          <p>MIRA ROAD</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">MAY</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 12</h6>

                        </div>
                        <div class="timeline-body">
                          <p>KALYAN</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">JUNE</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 13</h6>

                        </div>
                        <div class="timeline-body">
                          <p>KOTHRUD, PUNE</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">JUNE</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 14</h6>

                        </div>
                        <div class="timeline-body">
                          <p>ULASNAGAR</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">JULY</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 15</h6>
                        </div>
                        <div class="timeline-body">
                          <p>KOREGAON, PUNE</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">SEPTEMBER</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 16</h6>
                        </div>
                        <div class="timeline-body">
                          <p>ANDHERI, LOKHANDWALA</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">SEPTEMBER</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 17</h6>
                        </div>
                        <div class="timeline-body">
                          <p>SEAWOODS</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">OCTOBER</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 18</h6>
                        </div>
                        <div class="timeline-body">
                          <p>THAKUR COMPLEX</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">NOVEMBER</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 19</h6>
                        </div>
                        <div class="timeline-body">
                          <p>BADLAPUR</p>
                        </div>
                      </div>

                      <div class="timeline-panel col m-1">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">DECEMBER</h5>
                          <h6 class="timeline-title">FRANCHISE NO. 20</h6>
                        </div>
                        <div class="timeline-body">
                          <p>CHEMBUR</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-5"><span class="text-yellow">Year:
                    2024</span> 4 Franchises opened <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                  <div class="accordion-body row">

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">JANUARY</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 21</h6>
                      </div>
                      <div class="timeline-body">
                        <p>GHATKOPAR</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">JANUARY</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 22</h6>
                      </div>
                      <div class="timeline-body">
                        <p>PAREL</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">MARCH</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 23</h6>
                      </div>
                      <div class="timeline-body">
                        <p>MATUNGA</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">APRIL</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 24</h6>
                      </div>
                      <div class="timeline-body">
                        <p>SALUNKHE VIHAR, PUNE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>

        <div *ngIf="!isMobile" class="col-lg-5 align-items-stretch order-1 order-lg-2 img aos-init aos-animate"
          style="background-image: url(&quot;assets/img/food-pics/brand-outlet.jpeg&quot;);" data-aos="zoom-in"
          data-aos-delay="150">
          &nbsp;</div>
      </div>

    </div>
</div>