<div id="growthStory" class="why-us section-bg growth-image">
  <!-- data-aos="fade-up" -->
  <div class="container-fluid aos-init aos-animate">

    <div class="row">
      <div class="section-title">
        <h2 class="text-yellow">Growth Story</h2>
      </div>
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content">
          <strong> 30+ Outlets in Thane, Mumbai, Navi Mumbai & Pune</strong>
        </div>
        <br>
        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-1"><span
                  class="text-yellow">Year:
                  2019</span> 2 Outlets <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <div class="accordion-body row">

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">MARCH</h5>
                      <h6 class="timeline-title">Startup</h6>
                    </div>
                    <div class="timeline-body">
                      <p>FOOD TRUCK</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">JULY</h5>
                      <h6 class="timeline-title">OUTLET NO. 1</h6>
                    </div>
                    <div class="timeline-body">
                      <p>VASANT VIHAR, THANE</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">DECEMBER</h5>
                      <h6 class="timeline-title">OUTLET NO. 2</h6>
                    </div>
                    <div class="timeline-body">
                      <p>HARINIWAS CIRCLE, THANE</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-2"><span
                  class="text-yellow">Year:
                  2021</span> 1 Outlet, 5 Franchises <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <div class="accordion-body row">

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">APRIL</h5>
                      <h6 class="timeline-title">Kitchen</h6>
                    </div>
                    <div class="timeline-body">
                      <p>CENTRAL KITCHEN</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">FEBRUARY</h5>
                      <h6 class="timeline-title">OUTLET NO. 3</h6>

                    </div>
                    <div class="timeline-body">
                      <p>HIRANANDANI ESTATE</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">AUGUST</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 1</h6>

                    </div>
                    <div class="timeline-body">
                      <p>AIROLI</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">OCTOBER</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 2</h6>

                    </div>
                    <div class="timeline-body">
                      <p>MALAD</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">NOVEMBER</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 3</h6>

                    </div>
                    <div class="timeline-body">
                      <p>MULUND</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">NOVEMBER</h5>
                      <h6 class="timeline-title">OUTLET NO. 4</h6>

                    </div>
                    <div class="timeline-body">
                      <p>THANE STATION</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">DECEMBER</h5>
                      <h6 class="timeline-title">FRANCHISE NO.4</h6>

                    </div>
                    <div class="timeline-body">
                      <p>THAKUR VILLAGE</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-3"><span
                  class="text-yellow">Year:
                  2022</span> 4 Franchises <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <div class="accordion-body row">

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">JANUARY</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 5</h6>

                    </div>
                    <div class="timeline-body">
                      <p>DOMBIVALI</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">JANUARY</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 6</h6>

                    </div>
                    <div class="timeline-body">
                      <p>KHARGHAR</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">FEBRUARY</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 7</h6>

                    </div>
                    <div class="timeline-body">
                      <p>DADAR</p>
                    </div>
                  </div>

                  <!-- <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">APRIL</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 9</h6>

                    </div>
                    <div class="timeline-body">
                      <p>NERUL</p>
                    </div>
                  </div> -->

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">SEPTEMBER</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 8</h6>

                    </div>
                    <div class="timeline-body">
                      <p>POWAI</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-4"><span
                  class="text-yellow">Year:
                  2023</span> 10 Franchises <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                <div class="accordion-body">
                  <div class="row">
                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">FEBRUARY</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 9</h6>

                      </div>
                      <div class="timeline-body">
                        <p>MAROL</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">MARCH</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 10</h6>

                      </div>
                      <div class="timeline-body">
                        <p>MIRA ROAD</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">MAY</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 11</h6>

                      </div>
                      <div class="timeline-body">
                        <p>KALYAN</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">JUNE</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 12</h6>

                      </div>
                      <div class="timeline-body">
                        <p>KOTHRUD, PUNE</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">JUNE</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 13</h6>

                      </div>
                      <div class="timeline-body">
                        <p>ULASNAGAR</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">JULY</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 14</h6>
                      </div>
                      <div class="timeline-body">
                        <p>KOREGAON, PUNE</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">SEPTEMBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 15</h6>
                      </div>
                      <div class="timeline-body">
                        <p>ANDHERI, LOKHANDWALA</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">SEPTEMBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 16</h6>
                      </div>
                      <div class="timeline-body">
                        <p>SEAWOODS</p>
                      </div>
                    </div>

                    <!-- <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">OCTOBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 18</h6>
                      </div>
                      <div class="timeline-body">
                        <p>THAKUR COMPLEX</p>
                      </div>
                    </div> -->

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">NOVEMBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 17</h6>
                      </div>
                      <div class="timeline-body">
                        <p>BADLAPUR</p>
                      </div>
                    </div>

                    <div class="timeline-panel col m-1">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">DECEMBER</h5>
                        <h6 class="timeline-title">FRANCHISE NO. 18</h6>
                      </div>
                      <div class="timeline-body">
                        <p>CHEMBUR</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-5"><span
                  class="text-yellow">Year:
                  2024</span> 1 Outlet, 8 Franchises <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                <div class="accordion-body row">

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">JANUARY</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 19</h6>
                    </div>
                    <div class="timeline-body">
                      <p>GHATKOPAR</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">JANUARY</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 20</h6>
                    </div>
                    <div class="timeline-body">
                      <p>PAREL</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">MARCH</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 21</h6>
                    </div>
                    <div class="timeline-body">
                      <p>MATUNGA</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">APRIL</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 22</h6>
                    </div>
                    <div class="timeline-body">
                      <p>SALUNKHE VIHAR, PUNE</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">JULY</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 23</h6>
                    </div>
                    <div class="timeline-body">
                      <p>VILE PARLE</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">SEPTEMBER</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 24</h6>
                    </div>
                    <div class="timeline-body">
                      <p>AUNDH, PUNE</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">OCTOBER</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 25</h6>
                    </div>
                    <div class="timeline-body">
                      <p>MAGARPATTA, PUNE</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">OCTOBER</h5>
                      <h6 class="timeline-title">OUTLET NO. 5</h6>
                    </div>
                    <div class="timeline-body">
                      <p>KALWA</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">December</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 26</h6>
                    </div>
                    <div class="timeline-body">
                      <p>METRO MALL, KALYAN</p>
                    </div>
                  </div>

                </div>
              </div>
            </li>
            <li>
              <a data-bs-toggle="collapse" class="collapse text-dark" data-bs-target="#accordion-list-6"><span
                  class="text-yellow">Year:
                  2025</span> 1 Outlet, 2 Franchises <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                <div class="accordion-body row">

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">MARCH</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 27</h6>
                    </div>
                    <div class="timeline-body">
                      <p>VIMAN NAGAR, PUNE</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">APRIL</h5>
                      <h6 class="timeline-title">OUTLET NO. 6</h6>
                    </div>
                    <div class="timeline-body">
                      <p>SINHGAD ROAD, PUNE</p>
                    </div>
                  </div>

                  <div class="timeline-panel col m-1">
                    <div class="timeline-heading">
                      <h5 class="timeline-title">APRIL</h5>
                      <h6 class="timeline-title">FRANCHISE NO. 28</h6>
                    </div>
                    <div class="timeline-body">
                      <p>BHARATI VIDYAPEETH, PUNE</p>
                    </div>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <!-- <div *ngIf="!isMobile" class="col-lg-5 align-items-stretch order-1 order-lg-2 img aos-init aos-animate growth-image">
        &nbsp;</div> -->
      <!-- <div *ngIf="!isMobile" class="col-lg-5">
          <img src="assets/img/food-pics/food-truck-animated.jpeg" style="width:300px;height:300px;">
          <img src="assets/img/food-pics/shawarma-single.jpg" style="width:300px;height:300px;">
        </div> -->

      <div class="container col-lg-5" *ngIf="!isMobile">
        <img src="assets/img/food-pics/truck.png" class="image1">
        <img src="assets/img/food-pics/shawarma-shop-animated.png" class="image2">
        <svg class="line" viewBox="0 0 650 500">
          <path #path fill="transparent" class="path" d="M220 500 Q 380 460, 320 320 T 350 150" stroke="black"
            stroke-width="4" fill="none" />
          <circle cx="220" cy="500" r="3" fill="#f3b318" />
          <circle cx="350" cy="150" r="3" fill="#f3b318" />
          <!-- <path fill="transparent" stroke="#000000" stroke-width="4" d="M50 100 Q 100 300, 300 250 T 500 400" class="path"></path> -->
          <path fill="#f3b318" d="M12 30L6 8H30L12 30ZM12 30V2" class="new-path" />
          <!-- <circle cx="12" cy="50" r="2" fill="#f3b318"></circle>
          <circle cx="6" cy="8" r="2" fill="#f3b318"></circle>
          <circle cx="50" cy="8" r="2" fill="#f3b318"></circle>
          <circle cx="50" cy="50" r="2" fill="#f3b318"></circle>
          <circle cx="12" cy="2" r="2" fill="#f3b318"></circle>

          <path fill="#f3b318" d="M50 8L6 8H12 50L12 50ZM12 50V2"  /> -->

        </svg>
        <!-- <div class="arrow-container">
            <svg class="arrow" viewBox="0 0 24 24">
            </svg>
          </div> -->
        <!-- <div class="ball"></div> -->
        <!-- <svg class="line" xmlns="http://www.w3.org/2000/svg">
            <path d="M50 100 Q 100 300, 300 250 T 545 383" stroke="black" fill="none"/>
            <circle cx="50" cy="100" r="3" fill="red"/> 
            <circle cx="100" cy="300" r="3" fill="blue"/> 
            <circle cx="300" cy="250" r="3" fill="green"/>
            <circle cx="545" cy="383" r="3" fill="orange"/> 
          </svg> -->
      </div>
    </div>

  </div>
</div>