<div id="team" class="team section-bg">
    <!-- data-aos="fade-up" -->
    <div class="container">

        <div class="section-title">
            <h2 class="text-yellow">Founders of Shawarmaji</h2>
            <p>Meet the team</p>
        </div>

        <div class="row">
            <!-- data-aos="zoom-in" data-aos-delay="100" -->
            <div class="col-lg-4">
                <div class="member row justify-content-center d-flex" [ngClass]="{'ms-3 p-4': !isMobile, 'm-3 p-2' : isMobile}">
                    <div class="pic"><img src="assets/img/team/Pritish.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4 class="text-yellow pt-2 text-center">Pritish Dharurkar</h4>
                        <label><b>Founder of Shawarmaji</b></label>
                        <span><b>Perpetual Vision LLP</b></span>
                        <p>
                            After completing his engineering studies and working at Decathlon, established
                            Shawarmaji in early 2019, starting with a food truck.
                        </p>
                        <p>
                            His passion for food and hospitality was fueled by his extensive travels and experiences.
                            Pritish's nuanced understanding of flavors and textures, combined
                            with his cultural experiences and love for food, makes Shawarmaji whole.
                            <!-- His dedication to creating an
                            unmatched dining experience is evident in the high standards of quality, hygiene, service,
                            and customer satisfaction maintained at Shawarmaji. -->
                        </p>
                        <!-- <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- data-aos="zoom-in" data-aos-delay="200" -->
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member row justify-content-center d-flex" [ngClass]="{'ms-3 p-4': !isMobile, 'm-3 p-2' : isMobile}">
                    <div class="pic"><img src="assets/img/team/Amey.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4 class="text-yellow pt-2 text-center">Amey Dhadve</h4>
                        <label><b>Founder of Shawarmaji</b></label>
                        <span><b>Perpetual Vision LLP</b></span>

                        <p>After completing his studies in Engineering, he has an experience in procurement. Amey
                            embarked on his hospitality journey in 2019, starting with a food truck.
                        </p>
                        <p> An avid traveler and fervent foodie, he has always been
                            inspired by the hospitality industry, growing up surrounded by its impact. Amey believes in
                            creating an unmatched experience by maintaining the highest standards of quality, hygiene,
                            service, and customer satisfaction.</p>
                        <!-- <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- data-aos="zoom-in" data-aos-delay="200" -->
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member row justify-content-center d-flex" [ngClass]="{'ms-3 p-4': !isMobile, 'm-3 p-2' : isMobile}">
                    <div class="pic"><img src="assets/img/team/Rajas1.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4 class="text-yellow pt-2 text-center">Rajas Sabde</h4>
                        <label><b>Founder of Shawarmaji</b></label>
                        <span><b>Perpetual Vision LLP</b></span>

                        <!-- <span>His extroverted nature, welcoming personality,and attention to detail epitomize the heart and soul of the brand. </span> -->
                        <p>Rajas, with an MBA in Marketing and four years of managerial experience at
                            Decathlon, joined Shawarmaji in 2019. </p>
                        <p>Always a foodie, his extroverted nature, welcoming
                            personality, and attention to detail epitomize the heart and soul of the brand. Rajas has
                            brought a wealth of experience and passion to the business since joining.</p>
                        <!-- <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-5">
            <h5 class="text-yellow text-center mb-3">Meet our Designers</h5>
            <div [ngClass]="{'row': !isMobile}">
                <div class="col-lg-4 mt-4 mt-lg-0" *ngIf="!isMobile">
                </div>
                <div class="col-lg-4 mt-lg-0">
                    <div class="member row justify-content-center d-flex ms-3"
                        [ngClass]="{'ms-3 p-4': !isMobile, 'm-3 p-2':isMobile}">
                        <div class="pic"><img src="assets/img/team/TTS.jpeg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4 class="text-yellow pt-2 text-center">TAN TEAL STUDIO</h4>
                            <label class="text-center d-block"><b>Vedanka Keny & Savnee Pathankar</b></label>

                            <!-- <span>His extroverted nature, welcoming personality,and attention to detail epitomize the heart and soul of the brand. </span> -->
                            <p>Vendanka and Savnee established TTS with a vision of transforming spaces through
                                innovative and personalized design. They were also named among India's 50 Most Powerful
                                Women in 2023.
                                They have been the creative force behind all our outlets since day one.</p>
                            <div class="row social-links p-0">
                                <h6 class="text-yellow pt-2 col-6">Social networks</h6>
                                <div class="col-6">
                                    <a href="https://www.facebook.com/share/p/omn7E1tWpfP7qH69/?mibextid=oFDknk"
                                        target="_blank" class="facebook">
                                    <img src="../../assets/img/social-media/bx--bxl-facebook.svg"> 
                                    </a>
                                    <a href="https://www.instagram.com/tanteal_studio?igsh=MXR4aHJ1OXA3ZGVmNg=="
                                        target="_blank" class="instagram">
                                        <img src="../../assets/img/social-media/bx--bxl-instagram.svg"> 
                                    </a>
                                </div>

                            </div>

                            <!-- <div class="social">
                        <a href=""><i class="ri-twitter-fill"></i></a>
                        <a href=""><i class="ri-facebook-fill"></i></a>
                        <a href=""><i class="ri-instagram-fill"></i></a>
                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" *ngIf="!isMobile">
                </div>
            </div>
        </div>

    </div>
</div>