<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
<a href="https://forms.gle/ZQvkpf1WiUQeHGW89" target="_blank"
  class="franchise-floating-button d-flex align-items-center justify-content-center" id="franchise-floating-button">
  <label class="fw-bold">Let's work together</label>
  <!-- <i class="bi bi-layers"></i> -->
  <img class="shawarma-icon" src="../assets/img/food-pics/shawarma-icon.png" />
</a>