<div id="about" class="about">
    <!-- data-aos="fade-up" -->
    <div class="container">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <!-- <p>
            PERPETUAL VISION group Thane has a licensed trademark of Shawarmaji.
          </p> -->
          <ul>
            <li><i class="ri-check-double-line"></i> Shawarmaji, a quick-service restaurant serving Indo-Lebanese
              cuisine.</li>
            <li><i class="ri-check-double-line"></i>The model delivers high quality, freshly made, and value for money
              to the Lebanese food through 28
              outlets operational in Thane, Mumbai, Pune and Navi Mumbai.</li>
          </ul>
        </div>
        <div class="col-lg-6">

          <ul>
            <li><i class="ri-check-double-line"></i> We serve unique Lebanese shawarmas with attractive branding,
              fresh flavors, convenient packaging and value price points.</li>
            <li><i class="ri-check-double-line"></i>PERPETUAL VISION LLP group Thane has a licensed trademark of
              Shawarmaji. Online presence and collaborations with Swiggy, Zomato. helps Shawarmaji to enter a new
              business vertical, which will lead to an increase in revenues and profitability</li>
          </ul>
        </div>

      </div>

    </div>
  </div>