<main id="main">
    <section id="awards">
        <div id="awards" class="awards">
            <!--  data-aos="fade-up" -->
            <div class="container">

                <div class="section-title">
                    <h2>Awards</h2>
                    <!-- <p>Shawarmaji, a quick-service restaurant serving Indo-Lebanese cuisine, focuses on platform tapping
                        the
                        huge quick-service restaurant market segment along with online delivery format through the all
                        leading delivery platforms.</p> -->
                </div>
                <!-- <div class="slider-container">
                    <button class="prev" (click)="previousSlide()">&#10094;</button>
                    <div class="slider">
                        <div class="slide" *ngFor="let card of cards; let i = index"
                            [ngClass]="{'active': i === currentIndex, 'prev': i === (currentIndex - 1 + cards.length) % cards.length, 'next': i === (currentIndex + 1) % cards.length}">
                            <div class="card">
                                <img [src]="card.image" alt="Card Image" width="200" height="200">
                                <h5>{{card.title}}</h5>
                            </div>
                        </div>
                    </div>
                    <button class="next" (click)="nextSlide()">&#10095;</button>
                </div> -->


                <!-- <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card-wrapper container-sm d-flex  justify-content-around">
                                <div class="card  " style="width: 18rem;">
                                    <img src="./assets/img/awards/award1.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title" *ngIf="!isMobile">Best in rolls from Swiggy in year the
                                            2024</h5>
                                        <h6 class="card-title" *ngIf="isMobile">Best in rolls from Swiggy in year the
                                            2024</h6>

                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;"><img src="./assets/img/awards/award3.jpeg"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title" *ngIf="!isMobile">Article in Time Of India in the year
                                            2021</h5>
                                        <h6 class="card-title" *ngIf="isMobile">Article in Time Of India in the year
                                            2021</h6>

                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="./assets/img/awards/award2.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title" *ngIf="!isMobile">Listed in best shawarmas by Mumbai
                                            Foodie in the year
                                            2019</h5>
                                        <h6 class="card-title" *ngIf="isMobile">Listed in best shawarmas by Mumbai
                                            Foodie in the year
                                            2019</h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-wrapper container-sm d-flex   justify-content-around">
                                <div class="card  " style="width: 18rem;">
                                    <img src="https://source.unsplash.com/collection/190727/1600x900"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>

                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://source.unsplash.com/collection/190727/1600x900"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>

                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://source.unsplash.com/collection/190727/1600x900"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-wrapper container-sm d-flex  justify-content-around">
                                <div class="card " style="width: 18rem;">
                                    <img src="https://source.unsplash.com/collection/190727/1600x900"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>

                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://source.unsplash.com/collection/190727/1600x900"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>

                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://source.unsplash.com/collection/190727/1600x900"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>

                                    </div>
                                </div>
                            </div>
                        </div> 
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div> -->

                <div class="carousel-class">
                    <div class="bg-light p-2"><img src="./assets/img/awards/award1.jpeg" alt="Image 1"></div>
                    <div class="bg-light p-2"><img src="./assets/img/awards/award2.jpeg" alt="Image 2"></div>
                    <div class="bg-light p-2"><img src="./assets/img/awards/award3.jpeg" alt="Image 3"></div>
                    <div class="bg-light p-2"><img src="./assets/img/awards/award4.jpg" alt="Image 4"></div>
                </div>
            </div>
        </div>
    </section>
</main>