<main id="main">


    <!-- ======= Portfolio Section ======= -->
    <section id="gallary" class="portfolio mt-5 pb-0">
        <!--  data-aos="fade-up" -->
        <div class="container">
            <div class="row mx-0" id="bootstrap-image-gallery">
                <div class="col-4 mb-lg-0 px-2">
                    <a class="lg-item" data-lg-size="1600-1067" data-src="assets/img/food-pics/IMG1.jpg">
                        <img src="assets/img/food-pics/IMG1-thumb.jpg" class="mb-3 w-100" alt="Shawarmazza">
                    </a>
                    <a class="lg-item" data-lg-size="4080-5099" data-src="assets/img/food-pics/IMG2.jpg">
                        <img src="assets/img/food-pics/IMG2-thumb.jpg" class="mb-3 w-100" alt="Chicken Shawarma">
                    </a>
                </div>
                <div class="col-4 mb-lg-0 px-2">
                   
                    <a class="lg-item" data-lg-size="1600-2398" data-src="assets/img/food-pics/IMG3.jpg">
                        <img src="assets/img/food-pics/IMG3-thumb.jpg" class="mb-3 w-100" alt="Chicken Griller">
                    </a>
                    <a class="lg-item" data-lg-size="1600-1065" data-src="assets/img/food-pics/IMG4.jpg">
                        <img src="assets/img/food-pics/IMG4-thumb.jpg" class="mb-3 w-100" alt="Caramel Custard">
                    </a>
                </div>
                <div class="col-4 mb-lg-0 px-2">
                    <a class="lg-item" data-lg-size="1600-1067" data-src="assets/img/food-pics/IMG5.jpg">
                        <img src="assets/img/food-pics/IMG5-thumb.jpg" class="mb-3 w-100" alt="Hummas Platter">
                    </a>
                    <a class="lg-item" data-lg-size="1600-2400" data-src="assets/img/food-pics/IMG6.jpg">
                        <img src="assets/img/food-pics/IMG6-thumb.jpg" class="mb-3 w-100" alt="Coolers">
                    </a>
                </div>
            </div>

            <div class="row mx-0" id="bootstrap-image-gallery2">
                <div class="col-8 mb-4 mb-lg-0 px-2">
                    <a class="lg-item" data-lg-size="3200-1067" data-src="assets/img/food-pics/IMG7.jpg">
                        <img src="assets/img/food-pics/IMG7-thumb.jpg" class="mb-3 w-100" alt="Shawarmas">
                    </a>
                </div>
                <div class="col-4 mb-4 mb-lg-0 px-2">
                    <a class="lg-item" data-lg-size="1600-1065" data-src="assets/img/food-pics/IMG8.jpg">
                        <img src="assets/img/food-pics/IMG8-thumb.jpg" class="mb-3 w-100" alt="Open shawarma">
                    </a>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->
</main>