<main id="main">


    <!-- ======= Portfolio Section ======= -->
    <section id="gallary" class="portfolio mt-5">
        <!--  data-aos="fade-up" -->
        <div class="container">
            <!-- <div class="row mx-0" id="">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 px-2  ">
                <a class="lg-item" data-lg-size="1600-1067"
                    data-src="assets/img/food-pics/IMG_9211-Edit.jpg">
                    <img src="assets/img/food-pics/IMG_9211-Edit.jpg"
                        class="w-100 shadow-1-strong mb-3" alt="Boat on Calm Water" />
                </a>
                <a class="lg-item" data-lg-size="1600-2400"
                    data-src="assets/img/food-pics/IMG_9181-Edit.jpg">
                    <img src="assets/img/food-pics/IMG_9181-Edit.jpg"
                        class="w-100 shadow-1-strong " alt="Wintry Mountain Landscape" />
                </a>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 px-2">
                <a class="lg-item" data-lg-size="1600-2398"
                    data-src="assets/img/food-pics/IMG_9146-Edit.jpg">
                    <img src="assets/img/food-pics/IMG_9146-Edit.jpg"
                        class="w-100 shadow-1-strong mb-3" alt="Mountains in the Clouds" />
                </a>
                <a class="lg-item" data-lg-size="1600-1065"
                    data-src="assets/img/food-pics/IMG_9308-Edit.jpg">
                    <img src="assets/img/food-pics/IMG_9308-Edit.jpg"
                        class=" w-100 shadow-1-strong" alt="Boat on Calm Water" />
                </a>
            </div>
        </div> -->

            <!-- <div class="container gallery mt-4">
            <div class="row">
              <div class="col-md-4 " *ngFor="let image of images">
                <img [src]="image.src" class="img-fluid" [alt]="image.alt" (click)="showModal(image)">
              </div>
            </div>
          </div>
           -->
            <!-- Modal -->
            <!-- <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true" #imageModal>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-black text-light">
                  <h5 class="modal-title" id="imageModalLabel">{{ modalImageAlt }}</h5>
                  <button type="button" class="close text-light" (click)="hideModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img [src]="modalImageSrc" class="modal-img">
                </div>
              </div>
            </div>
          </div> -->
            <!-- <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
            <a class="me-3"  href="assets/img/food-pics/IMG1.jpg">
                <img alt="SHawarmazza" data-lg-size="3811-2812" src="assets/img/food-pics/IMG1-thumb.jpg" />
            </a>
            <a class="me-3"  href="assets/img/food-pics/IMG2.jpg">
                <img alt="Sandwich" data-lg-size="450-673" src="assets/img/food-pics/IMG2-thumb.jpg" />
            </a>
            <a class="me-3"  href="assets/img/food-pics/IMG3.jpg">
                <img alt="Sandwich" data-lg-size="4028-3882" src="assets/img/food-pics/IMG3-thumb.jpg" />
            </a>
            <a class="me-3"  href="assets/img/food-pics/IMG2.jpg">
                <img alt="Sandwich" data-lg-size="450-673" src="assets/img/food-pics/IMG2-thumb.jpg" />
            </a>
            <a class="me-3"   href="assets/img/food-pics/IMG3.jpg">
                <img alt="Sandwich" data-lg-size="4028-3882" src="assets/img/food-pics/IMG3-thumb.jpg" />
            </a>
            <a class="me-3" href="assets/img/food-pics/IMG1.jpg">
                <img alt="Sandwich" data-lg-size="3811-2812"  src="assets/img/food-pics/IMG1-thumb.jpg" />
            </a>
        </lightgallery> -->

            <!-- https://images.unsplash.com/photo-1609342122563-a43ac8917a3a?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80
            https://images.unsplash.com/photo-1609342122563-a43ac8917a3a?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80 -->

            <div class="row mx-0" id="bootstrap-image-gallery">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 px-2">
                    <!-- <a class="lg-item" data-lg-size="1600-1067"
                        data-src="https://images.unsplash.com/photo-1609342122563-a43ac8917a3a?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80"
                        data-lg-id="eab51573-f633-4b26-9f5e-bac30a18c13c">
                        <img src="https://images.unsplash.com/photo-1609342122563-a43ac8917a3a?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80"
                            class="w-100 shadow-1-strong mb-3" alt="Boat on Calm Water">
                    </a> -->
                    <a class="lg-item" data-lg-size="4072-50090" data-src="assets/img/food-pics/IMG1.jpg">
                        <img src="assets/img/food-pics/IMG1-thumb.jpg" class="mb-3" alt="Chicken Griller">
                    </a>
                    <a class="lg-item" data-lg-size="4080-5099" data-src="assets/img/food-pics/IMG2.jpg">
                        <img src="assets/img/food-pics/IMG2-thumb.jpg" class="mb-3" alt="Chicken Griller">
                    </a>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0 px-2">
                    <!-- <a class="lg-item" data-lg-size="1600-2398"
                        data-src="https://images.unsplash.com/photo-1526281216101-e55f00f0db7a?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80"
                        data-lg-id="7aa1214a-1a99-49e1-8b14-2832ae6cc82d">
                        <img src="https://images.unsplash.com/photo-1526281216101-e55f00f0db7a?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=240&amp;q=80"
                            class="w-100 shadow-1-strong mb-3" alt="Mountains in the Clouds">
                    </a> -->
                    <a class="lg-item" data-lg-size="1600-2398" data-src="assets/img/food-pics/IMG3.jpg">
                        <img src="assets/img/food-pics/IMG3-thumb.jpg" class="mb-3" alt="Chicken Griller">
                    </a>
                    <a class="lg-item" data-lg-size="1600-1065" data-src="assets/img/food-pics/IMG4.jpg">
                        <img src="assets/img/food-pics/IMG4-thumb.jpg" class="mb-3" alt="Chicken Griller">
                    </a>
                    <!-- <a class="lg-item" data-lg-size="1600-1065"
                        data-src="https://images.unsplash.com/photo-1596370743446-6a7ef43a36f9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80"
                        data-lg-id="240c578a-4c73-4604-861f-181efbc37496">
                        <img src="https://images.unsplash.com/photo-1596370743446-6a7ef43a36f9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=240&amp;q=80"
                            class="w-100 shadow-1-strong" alt="Boat on Calm Water">
                    </a> -->
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0 px-2">
                    <a class="lg-item" data-lg-size="1600-1067" data-src="assets/img/food-pics/IMG5.jpg">
                        <img src="assets/img/food-pics/IMG5-thumb.jpg" class="mb-3" alt="Chicken Griller">
                    </a>
                    <!-- <a class="lg-item" data-lg-size="1600-1067"
                        data-src="https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80"
                        data-lg-id="14256a9e-769a-4125-8c42-8b466f7c7147">
                        <img src="https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=240&amp;q=80"
                            class="w-100 shadow-1-strong mb-3" alt="Waves at Sea">
                    </a> -->
                    <a class="lg-item" data-lg-size="1600-2400" data-src="assets/img/food-pics/IMG6.jpg">
                        <img src="assets/img/food-pics/IMG6-thumb.jpg" class="mb-3" alt="Chicken Griller">
                    </a>
                    <!-- <a class="lg-item" data-lg-size="1600-2400"
                        data-src="https://images.unsplash.com/photo-1610448721566-47369c768e70?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80"
                        data-lg-id="7871350c-e1cf-448c-a197-1687b063989a">
                        <img src="https://images.unsplash.com/photo-1610448721566-47369c768e70?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=240&amp;q=80"
                            class="w-100 shadow-1-strong" alt="Yosemite National Park">
                    </a> -->
                </div>
            </div>

        </div>
    </section><!-- End Portfolio Section -->
</main>