<div id="brandPresence" class="cta">
    <!-- data-aos="zoom-in" -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Brand Presence</h3>
                <p>The model delivers high quality, freshly made, and value for money to the Lebanese food through 25+
                    outlets operational in Thane, Mumbai, Pune and Navi Mumbai.</p>
            </div>
        </div>
        <div class="cta-btn-container text-center justify-content-center row">
            <!-- <a class="cta-btn align-middle">Click to view map</a> -->
            <div class="dropdown col-md-3 p-3"><span class="text-dark cta-btn align-moddle" id="mum" (click)="toggleClass('mum')">Mumbai</span>
                <ul id="mum-list"> 
                    <li><a href="https://maps.app.goo.gl/AjBETDL12Cj18BwEA" target="_blank">Mulund</a></li>
                    <li><a href="https://maps.app.goo.gl/nJEfnmRyAqAAaW2L6" target="_blank">Dadar</a></li>
                    <li><a href="https://maps.app.goo.gl/WK8kYy2WqtKYN1nh6" target="_blank">Malad</a></li>
                    <li><a href="https://maps.app.goo.gl/VRpc6FDz63T6FMsa7" target="_blank">Thakur Village</a></li>
                    <li><a href="https://maps.app.goo.gl/VRpc6FDz63T6FMsa7" target="_blank">Thakur Complex</a></li>
                    <li><a href="https://maps.app.goo.gl/AEKi3AEiEKJ2enwK7" target="_blank">Powai</a></li>
                    <li><a href="https://maps.app.goo.gl/qo1yqL2G1gD5pBqB6" target="_blank">Marol</a></li>
                    <li><a href="https://maps.app.goo.gl/Ao2msMa43s5U2ivRA" target="_blank">Andheri</a></li>
                    <li><a href="https://maps.app.goo.gl/afYomYSEJWNfkgov9" target="_blank">Ghatkopar</a></li>
                    <li><a href="https://maps.app.goo.gl/a3jz9b8DVdJ4ygq77" target="_blank">Parel</a></li>
                    <li><a href="https://maps.app.goo.gl/beGvCxqWLagRQ8rc8" target="_blank">Matunga</a></li>
                </ul>
            </div>
            <div class="dropdown col-md-3 p-3"><span class="text-dark cta-btn align-moddle" id="thane" (click)="toggleClass('thane')">Thane</span>
                <ul id="thane-list">
                    <li><a href="https://maps.app.goo.gl/xedpyBBmFZ8EkQBfA" target="_blank">Vasant Vihar</a></li>
                    <li><a href="https://maps.app.goo.gl/WCWaVZmYCbn4kM6P9" target="_blank">Hariniwas circle</a></li>
                    <li><a href="https://maps.app.goo.gl/F9BghnKrxG2ExSNu9" target="_blank">Thane station</a></li>
                    <li><a href="https://maps.app.goo.gl/qHTBF53mRFxgAH1L8" target="_blank">Hiranandani Estate</a></li>
                    <li><a href="https://maps.app.goo.gl/tss3tdxgeS8R1Xvw5" target="_blank">Mira Road</a></li>
                </ul>
            </div>
            <div class="dropdown col-md-3 p-3"><span class="text-dark cta-btn align-moddle" id="navi-mum" (click)="toggleClass('navi-mum')">Navi Mumbai</span>
                <ul id="navi-mum-list">
                    <li><a href="https://maps.app.goo.gl/HVcJvfA7LBzVe4gM6" target="_blank">Airoli</a></li>
                    <li><a href="https://maps.app.goo.gl/7BxX91TvHzeYbKss5" target="_blank">Nerul</a></li>
                    <li><a href="https://maps.app.goo.gl/qJjZ128oevcuuxG97" target="_blank">Kharghar</a></li>
                    <li><a href="https://maps.app.goo.gl/rdwQgzpjun3mNPen9" target="_blank">Seawoods</a></li>
                    <li><a href="https://maps.app.goo.gl/Z8xhF7nJrBMJ9Lwy9" target="_blank">Dombivali</a></li>
                    <li><a href="https://maps.app.goo.gl/gNajQsBqTNfhbrPW8" target="_blank">Kalyan</a></li>
                    <li><a href="https://maps.app.goo.gl/KFA3aMnQw3Uu7c889" target="_blank">Ulhasnagar</a></li>
                    <li><a href="https://maps.app.goo.gl/CCk8MnNXrxq3Crzo7" target="_blank">Badlapur</a></li>
                </ul>
            </div>
            <div class="dropdown col-md-3 p-3"><span class="text-dark cta-btn align-moddle" id="pune" (click)="toggleClass('pune')">Pune</span>
                <ul id="pune-list">
                    <li><a href="https://maps.app.goo.gl/QhB5dRaRycbScVZb9" target="_blank">Kothrud</a></li>
                    <li><a href="https://maps.app.goo.gl/AcsPZbnCJy4CtMan8" target="_blank">Koregaon Park</a></li>
                    <li><a href="https://maps.app.goo.gl/SCQxEryNHBhXCT3cA" target="_blank">Salunkhe Vihar</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <img src="assets/img/food-pics/brand-presence.png" class="w-100">
        </div>
    </div>

</div>