<main id="main">
    <section id="businessHighlights">
        <div id="services" class="services">
            <!--  data-aos="fade-up" -->
            <div class="container">

                <div class="section-title">
                    <h2>Business Highlights</h2>
                    <p>Shawarmaji, a quick-service restaurant serving Indo-Lebanese cuisine, focuses on platform tapping
                        the
                        huge quick-service restaurant market segment along with online delivery format through the all
                        leading delivery platforms.</p>
                </div>

                <div class="row">
                    <!-- data-aos="zoom-in" data-aos-delay="100" -->
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a>INDO-LEBANESE FOOD ON THE GO</a></h4>
                            <p>All the rights are reserved under the PERPETUAL VISION LLP group. <br> INDO-LEBANESE FOOD
                                ON
                                THE
                                GO
                                Leading
                                QSR chain which created a niche in its segment, focusing majorly on the crowd from
                                colleges,
                                corporates,
                                local and metro cities.</p>
                        </div>
                    </div>
                    <!--  data-aos="zoom-in" data-aos-delay="200" -->
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a>MAINTAIN HYGIENE STANDARDS</a></h4>
                            <p>We use HALAL chicken. We are FoSTaC (Food Safety Training and Certification) trained.
                                We do monthly pest control to maintain hygiene. </p>
                        </div>
                    </div>
                    <!--  data-aos="zoom-in" data-aos-delay="300" -->
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4><a>PROCESS AND ROBUST TECHNOLOGY DRIVEN OPERATIONS</a></h4>
                            <p>Leverages technology, vendor management, and order management system to reduce wastage
                                and
                                improve
                                efficiency and margins process-driven operations lead to high standardization in the
                                food
                                and
                                robust and
                                efficient supply chain systems.</p>
                        </div>
                    </div>
                    <!--  data-aos="zoom-in" data-aos-delay="400" -->
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a>AUDITING</a></h4>
                            <p>We carry out a complete audit of all outlets on monthly basis for hygiene, product
                                quality
                                & staff
                                training.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</main>